.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}

.header__search {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.header__search__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(159, 159, 159, 0.6);
  padding: 2px;
  padding-bottom: 0px;
  margin: 7px;
  border-radius: 7px;
}

.header__search__input > input {
  margin-left: 5px;
  width: 375px;
  background-color: transparent;
  color: #D9D9D9;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 600;
}

.header__search__button {
  margin: 0;
  padding: 0;
  height: auto;
  border: none;
  background-color: transparent;
  width: auto;
}

.header__search__logo {
  color: #D9D9D9;
}
.header__search__logo:hover {
  color: black;
}

.header__options {
  display: flex;
  align-items: center;
  justify-items: space-evenly;
  text-align: right;
  margin-right: 20px;
}

@media only screen and (max-width: 1080px) {
  .header__search__input > input {
    width: 250px;
  }

  .header__options {
    margin-right: 5px;
    justify-content: space-between;
  }
}