.jobAdvertisement {
  display: flex;
  flex-direction: column;
  background-color: var(--jobhub-background-color-primary);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 640px;
}

.jobAdvertisement__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--jobhub-background-color-tertiary);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

#avatar {
  margin-left: 10px;
}

.jobAdvertisement__header__company {  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jobAdvertisement__header__company_info > h4, p {
  color: var(--jobhub-color-secondary);
  margin-left: 10px;
}

.favorite__nonactivated {
  color: var(--jobhub-color-primary);
  transform: rotate(-20deg);
}

.favorite__activated {
  color: var(--jobhub-color-primary);
  transform: rotate(-20deg);
}

.jobAdvertisement__time {
  color: #9A9A9A;
  font-size: 10px;
}

.jobAdvertisement__body__description {
  margin-top: 10px;
  padding: 5px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.7;
}

.jobAdvertisement__body__item {
  color: var(--jobhub-color-secondary);
  font-size: 14px;
  padding: 5px;
  margin-left: 10px;
}

.jobAdvertisement__body__item > span {
  font-weight: 600;
  margin-right: 10px;
}

.jobAdvertisement__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--jobhub-background-color-tertiary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.jobAdvertisement__footer__elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  color: var(--jobhub-color-tertiary);
  transition: all 200ms ease-out;
}

.jobAdvertisement__footer__elements > h4 {
  margin-left: 10px;
}

.jobAdvertisement__footer__elements:hover {
  color: var(--jobhub-color-primary);
}

.jobAdvertisement__footer__element__actived {
  color: var(--jobhub-color-primary);
}

@media only screen and (max-width: 1080px) {

  .jobAdvertisement {
    width: 600px;
  }
}

@media only screen and (max-width: 1200px) {

  .jobAdvertisement {
    width: 500px;
  }
}

@media only screen and (max-width: 769px) {

  .jobAdvertisement {
    width: 475px;
  }
}

@media only screen and (max-width: 525px) {

  .jobAdvertisement {
    width: 400px;
  }
}