.rightSection {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 90px;
  width: 250px;
  height: 475px;
}

@media only screen and (max-width: 1085px) {
  .rightSection {
    display: none;
  }
}
