.sidebarOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left !important;
  margin-left: 5px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
}

.sidebarOption:hover {
  color:var(--jobhub-color-primary);
}

.sidebarOption__icon {
  margin-right: 10px;
}

@media only screen and (max-width: 769px) {
  .sidebarOption__title {
    display: none;
  }
  .sidebarOption__icon {
    margin-right: 5px;
  }
}