.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0.4;
  height: 100vh;
  max-width: 270px;
  background-color: var(--jobhub-background-color-primary);
  color: var(--jobhub-color-secondary);
  z-index: 999;
  box-shadow: 2px 0px 2px rgba(114, 114, 114, 0.1);
}

.sidebar__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--jobhub-color-primary);
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  cursor: pointer;
  user-select: none;
}

.sidebar__logo__icon {
  margin-right: 5px;
}

.sidebar__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
}

.created__by__mehmetkaya {
  font-size: 11px;
  text-align: center;
  color: var(--jobhub-color-primary);
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  user-select: none;
}

.K {
  font-size: 14px;
  font-weight: bolder;
  margin-right: 5px;
  border: 3px solid var(--jobhub-color-primary);
  color: var(--jobhub-background-color-secondary) !important;
  background-color: var(--jobhub-color-primary);
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.K > a {
  text-decoration: none;
}
.K > a:visited {
  color: var(--jobhub-background-color-secondary) !important;
}

.link {
  color: var(--jobhub-color-secondary);
  text-decoration: none;
}

.link__logo {
  color: var(--jobhub-color-primary);
  text-decoration: none;
}

@media only screen and (max-width: 769px) {

  .sidebar {
    max-width: max-content;
  }

  .sidebar__logo {
    margin-top: 24px;
  }

  .sidebar__logo > h1 {
    display: none;
  }

  .created__by__mehmetkaya {
    margin-left: 5px;
  }

  .text {
    display: none;
  }

  .link__logo > h1 {
    display: none;
  }

  .sidebar__logo__icon {
    margin-bottom: 13px;
    margin-right: 0px;
  }
  
}
/* @media only screen and (max-width: 475px) {
  .sidebar {
    display: none;
  }
} */
